*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    left: 0 ;
}
.im {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.im img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.head, .container, footer{
    width: 100%;
}

header{
    height: 100%;
    width: 80%;
}
.section {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.tete{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    
}
.head{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.title{
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.60rem;
    margin-top: 1rem;
}
.description{
    width: 100%;
    color: #bebebe;
    display: flex;
    align-items: center;
}

.slide_bar {
    border-radius: 10px;
    padding: 0;       
    background: transparent;
}
.slide_bar.center {
    width: 10%;
    height: 93%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: auto;
    align-items: center;
    background: transparent;
}
.slide_bar.center::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.center{
    max-width: 100%;
    min-width: 50%;
    text-align: center;
    margin-right: 1px;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1.25rem;
}
.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
}
.li {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;      /* ← lecture verticale, bas gauche à haut droit */
    text-orientation: upright;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding: 0.3rem 0.5rem;
    margin: 0.1rem 0; 
    border-radius: 1.25rem;
    color: #bebebe;
    transition: box-shadow 1s ease, color 0.5s ease;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.70rem;
    height: 18%;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.li:hover{
    font-size: 0.75rem;
}
li.clicked {
    color: #bebebe;
    border-left: 3px solid #fcb045d0; /* soulignement */
}

.container {
    background: transparent;
    height: 67%;
    border: 2px solid transparent ;
    box-shadow: 
    0 3.4px 4.6px rgba(0, 0, 0, 0.082),
    0 9.5px 12.8px rgba(0, 0, 0, 0.121),
    0 22.9px 30.8px rgba(0, 0, 0, 0.156),
    0 76px 102px rgba(0, 0, 0, 0.21);   
    border-radius: 20px;
    overflow-y: auto;
} 
.container::-webkit-scrollbar {
    width: 8px; 
    background: transparent; 
}

.container::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #fcb04573; 
}
.name {             
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}    
.button{
    background: #fcb045d0;
    border-radius: 12px;
    /* box-shadow: 8px 8px 16px #bebebe,
                -8px -8px 16px #ffffff; */
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.button:active{
    box-shadow: inset 6px 6px 10px #bebebe,
                inset -6px -6px 10px #ffffff;
    
}
.button:hover{
    background: #d6d6d6;
} 
.button.clicked {
    background: #e0e0e0;
    color: #fcaa38f6;         /* Optionnel : couleur du texte */
    box-shadow: inset 8px 8px 16px #bebebe,
                inset -8px -8px 16px #ffffff;
    font-size: 18px;
}
footer{
    height: 8%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}